{{#each posts as |post| }}
<a href="/post/{{id}}">
<div class="row align-center mb-5">
  <div class="col-md-12">
    <h2> {{title}} </a> <p> Posted by {{user.name}} on {{format_date createdAt}} </p></h2>
    <p> {{content}}</p>
  </div>
</div>


{{/each}}
